/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==================   ========================================================
   Author's custom styles
   ========================================================================== */



.comverse-header {
    width: 100%;
   
    position: fixed; 
    background: white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
    z-index:10;

}


.comverse-header .header-container {
    padding-top: 0px;
}


.search_field {


border: 1px solid #D2D2D2;
border-radius: 6px;
margin-top: -36px;



}






.search {
    width: 135px;
    height: 20px;
    border: medium none;
    margin: 0px 5px;
    border-radius: 6px;
    background: #FFF url("../img/divider.png") no-repeat scroll right center;
    outline: medium none;
    color:black;

}
.left {
    float: left;
}

.right {
    float: right;
}

.submit {
    background: #FFF url("../img/searchBtn.png") no-repeat scroll right center;
    border: medium none;
    margin-right: 8px;
    padding-top: 5px;
    outline: medium none;
    cursor: pointer;
}

.nav-side-links button {
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 0px;
}

.search_field button {
    border: none;
    background: none;
    cursor: pointer;
    position:relative;
    right:33px;
    top:-1px;

   
}


.seprator {
position: relative;
right: 38%;
top: 10%;
background-color: green;
}

.search_field button img {
    width:20px;
    height:20px;
}


.container {
    
    max-width: 1090px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.header-container{
    width: 940px;
margin: 0px auto;
padding: 0px;

    }

.comverse-logo {
    display: inline-block;
    float:left;
    margin-top: 24px;
}

.navbar {

    color:#585951;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.456px;
    padding-top: 65px;
    float: left;
    position: relative;
}

.nav {
    list-style: none;
    margin: 0;
}

.nav > li {
    display: block;
    float:left;
    position:relative
}


.nav > li > a  {
    text-decoration: none;
    color:#585951;
    display:block;
    outline:0;
    padding: 0 11px 10px 11px;
    text-transform: uppercase;
    font-weight: 200;
}











.nav-side-links {
    float:right
    display:inline-block;
    padding-top:15px;
    padding-left: 22px;
    margin-top: -20px;
}

.nav-side-links a {
    text-decoration: none;
    outline:0;
    font-weight: 400;
    color:#585951;
}

.nav-side-links a:hover {
    color: blue; 
}




/*temp */


.login {
    margin-top: -110px;
}



.login-menu-item {
    float: right;
    padding-left: 10px;
    list-style-type: none;
    background: #FFF url("img/divider.png") no-repeat scroll left center;
    outline: medium none;
}



.no-background {
    background: transparent none repeat scroll 0% 0% !important;
}



.language-menu {
    width: 45px;
    border: medium none;
    color: #585951;
    padding: 0px;


}
.no-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*temp */
body {
    margin: 0 auto;
    color: white;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;

}

a {
    text-decoration: none;
}










.main-slide {
background-image: url("../img/slide-bg-complexity.jpg"); 
background-repeat: no-repeat;   

background-attachment: fixed;
padding-bottom: 31px;
padding-top: 92px;
background-size:cover;
background-position: center;  
}

.main-slide article {

    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px #a2a2a2;
    opacity: 0.8;
    width: 190px;
    padding: 8px;
    margin-left: 0px;
    display: inline-block;
}



.main-slide article:hover {
    opacity: 1;
}



.bg-pink {
    background-color: #F92A98;
}

.main-slide  .bg-green {
    background-color: #66CC33;
    margin-left: 25px;
}
.main-slide .bg-orange {
    background-color: #FF6600;
    margin-left: 25px;
}


.carousel {
    padding-top: 20px;
    padding-bottom: 50px;
    list-style: outside xnone none;
    font-size: 0px;
    text-align: center;
}


.carousel .selected {
    background-color: #39C;
    color: #39C;
}
.carousel a {
    width: 12px;
    height: 12px;
    background-color: lightgray;
    color: lightgray;
    float: left;
    margin-left: 5px;
    padding: 0px;
    border-radius: 3px;
    display: inline-block;
}

.btnBlue {

    display: block;
    background-color: #3399cc;
    border-radius:6px;
    font: 1em sans-serif;
    height: 34px;
    width: 204px;
    text-align: left;

}

.btnBlue a {
    color:white;
}

.btnBlue img {
 padding-left: 4px;
}



.second-slide{


    background-color: transparent;
    background-image: url("../img/weDoBG.png"), radial-gradient(ellipse at center center , #59BEDB 0%, #39C 100%);
    padding-bottom: 50px;

}

.news ol ,.events ol{
 padding-left:0;


}

.second-slide h1,.news-and-event h1,.success-stories h1{
        text-align: center;
}





.second-slide  li  {
    display: inline-block;
    text-align: center;
    width: 23%;
    vertical-align:top;
    margin-left: -83px;

    
}




.soultion>figure>div {
     height: 90px;
}

#data_monetzation_pic {
    background: url("../img/data-monetization.png") no-repeat center center;
}

.soultion:hover #data_monetzation_pic{
    background: url("../img/data-monetization-hover.png") no-repeat center center;
}


#machine_to_machine_pic{
    background: url("../img/mtm-icon.png") no-repeat center center;
}

.soultion:hover #machine_to_machine_pic {
    background: url("../img/mtm-icon-hover.png") no-repeat center center;
}

#over_the_top_pic {
    background: url("../img/solution_icon_over_the_top.png") no-repeat center center;
}


.soultion:hover #over_the_top_pic  {
    background: url("../img/solution_icon_over_the_top_hover.png") no-repeat center center;
}

#cloud_computing_pic {
    background: url("../img/solution_icon_cloud_computing.png") no-repeat center center;
}

.soultion:hover #cloud_computing_pic  {
    background: url("../img/solution_icon_cloud_computing_hover.png") no-repeat center center;
}

#managed_services_pic {
    background: url("../img/solution_icon_managed_services.png") no-repeat center center;
}

.soultion:hover #managed_services_pic  {
    background: url("../img/solution_icon_managed_services_hover.png") no-repeat center center;
}

#social_media_pic {
    background: url("../img/solution_icon_social_media.png") no-repeat center center;
}

.soultion:hover #social_media_pic {
    background: url("../img/solution_icon_social_media_hover.png") no-repeat center center;
}




.second-slide  li a  {
    color:white;
}

.second-slide  button  {
    margin-left: 40%;
margin-top: 5%;
}

.success-stories .btnBlue {

margin-top: 41%;
margin-left: 40%;
}

.news  h1,.news  img ,.events  img,.events  h1 {

  padding-left: 40px;
}
.news-and-event {

    background-image: url("../img/news-and-events-bg.jpg");
    padding-bottom: 80px;
    
    background-attachment: fixed;
    background-repeat: no-repeat;   
   
    background-position: center;  
     background-size:cover;

 
}


.news-and-event h4 {
    float:left;
}

.news h2{
   text-align: left;
}


.news-and-event p {
    padding-left: 65px;
}
.news-and-event li{ 
    list-style-type: none;
    display: inline-block;
    width: 260px;
    background-color: gray;
    margin-right: 20px;
}



.news-and-event section {
    display: inline-block;

}

span.day {
    display: block;
    background-color: #6495ED;
    border-bottom: 1px dashed #FFF;
    font-size: 40px;
    font-weight: normal;
    width: 55px;
    text-align: center;
    margin-top: -18px;
}

span.month {
    display: block;
    background-color: #6495ED;
    font-size: 20px;
    font-weight: normal;
    width: 55px;
    text-align: center;
}

.news-and-event a {
    float:left;
    margin-left: -40px;

}

.news-and-event a:hover {
    color:black;
}

.news-and-event a:hover >img {
  display:none;
}
.events a:hover:before {

  content: " ";
  background: url(../img/eventListIconEvents_hover.png) no-repeat;

  height: 20px;
  width: 20px;
  padding-left: 20px;
  margin-left: 40px;

}
.news-and-event  li:hover {
    background-color: lightgray ;   
}

.news a:hover:before {

  content: " ";
  background: url(../img/eventListIconNews_hover.png) no-repeat;

  height: 20px;
  width: 20px;
  padding-left: 20px;
  margin-left: 40px;

}

.news-and-event  a ,.main-slide article a {
    color: white;
}


#all_events_2_btn {
    padding-left: 190px
}

.success-stories {


   
    margin-top: -15px;

    padding-top: 0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #7c7c7c;
}

.client-list {
    padding-left: 0px;
    list-style: none;
}

.client-list li {
    display: inline-block;
    width: 35.2%;
    float: left;
    margin: 4px;
    padding: 2px;
}

#two-icons-client {
    width: 23.5%;
}

#two-icons-client .client-icon {
width: 45%;
}

#two-icons-client   > blockquote>  p {
float: left;
width: 100%;
border-bottom: 0.1px solid ;
}
.client-list li  blockquote {
    padding: 10px;
    margin: 0px auto;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 3px;
}

.client-list  li  blockquote  p {
color: lightgray;
margin: 0px auto;
float: right;
width: 65%;
}


.client-icon {
    display: inline-block;
    margin: 10px 6px 0px 0px;
    background: none repeat scroll 0% 0% #FFF;
    width: 30%;
    height: 50%;    
    border-radius: 3px;
    text-align: center;

}

.client-list cite {
    font-size: 70%;
}
.client-list  .name {
    color: #47ACDD;
    text-transform: uppercase;
    font-size: 1.3em;
    float: left;
}

.client-list  .office {
    float: left;
}

#two-icons-client  >.person-logo {
     max-width: 10%x;
}
.person-logo {
    max-width: 80%x;


}


#two-icons-client  .person-logo {
     max-width: 35%;
}
.footer {

    
 
    background-color: transparent;
    background-image: url("../img/footerBG.png"), radial-gradient(ellipse at center center , #59BEDB 0%, #39C 100%);
    padding-bottom: 50px;

}

.footer li, .footer a {
    color:lightgray;
}
.footer ol {
    list-style:none;
    padding-left:0;
}

.footer a:hover {
    text-decoration: underline;
}
.social-networking span.day {

    background-color: gray;
    border-bottom: none;

}

.social-networking span.month {

    background-color: gray;
}

.social-networking {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    width: 23%;
    background-color: gray;
    margin-right: 20px;
    margin-top:-59px;
    margin-left: 10px;

}

.social-networking li {
    color:white;

}

.social-networking h3 {
    color: lightblue;
    text-align: center;

}

.social-networking h4 {
    float: left;
    
}

.social-networking li {
    list-style-type: none;
}

.social-networking p {
    padding-left: 65px;
}

.social-networking .btnBlue {
width: 70px;
height: 28px;
float: right;
margin-right: 5px;
}

.social-networking  input {
    width: 65%;
}

.social-list {
    padding: 0px;
}

.social-list li {
     list-style-type: none;
text-decoration: none;
display: inline-block;

}

.nav-section {
    display: inline-block;
    float:left;
    margin-left: 50px;
     color: #D3D3D3;
}

.copyright {
  color: #D3D3D3;  
}

.footer >p {
    display: block;
    float: left;

}

h1{
    font: 2em sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 20px;
}


/*  ------------------------MEDIA QUERIES-----------------------*/

@media all and (max-width:768px) {

    .search_field  {
        display: none;
    }
    .seprator  {
        display: none;
    }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

 .hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
