.success-stories {



    margin-top: -15px;

    padding-top: 0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #7c7c7c;
    background: #ECECEC;
}



.container {

    max-width: 1090px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.no-style-list {
    padding-left: 0px;
    list-style: none;
}